<div class="grid grid-cols-6 gap-4 mx-auto">
     <% @types.each do | type | %>
          <div class="p-3 bg-gray-400">
               <H2><%= link_to type.name, type_path(type)%></H2>
          </div>
     <%end%>
</div>

<%= paginate @types %>