<div class="flex flex-col items-center mx-auto">
     <h1 class="mb-5 font-bold text-2xl"><%= @move.name%></h1>

     <h2 class="my-5 font-bold text-xl">Pokemon that can learn</h2>
     <div class="grid grid-cols-6 gap-4 mx-auto">
          <% @move.pokemons.each do |pokemon| %>
               <div class="p-3 bg-gray-400">
                    <p><%= link_to pokemon.name, pokemon_path(pokemon) %></p>
               </div>
          <% end %>
     </div>
</div>