<div class="flex flex-col items-center">
     <h1 class="font-bold my-4 text-2xl">Dataset Description and ERD</h1>

     <p class="mb-10">I am pulling data from the <a href="https://pokeapi.co/api/v2/">Poke Api V2</a> using the Poke-api-v2 <a href="#https://github.com/rdavid1099/poke-api-v2">gem</a>. I am grabbing specifically the Pokemon's Name, height, weight, types, and potential moves. Will have three tables Types, Pokemon, and Moves, each having a names column with pokemon also having weight and height.</p>

     <%= image_tag 'erd.jpg', alt: 'an Entity Relationship Diagram'%>
</div>